{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-12 col-md-12 featured-post" style="padding-top: 25px">
        <p><span class="featured-post-title" style="text-decoration: none">Выберете год</span></p>
    </div>
    {% for year in my_data %}
        <div class="col-lg-6">
        {% csrf_token %}
            <a href="/main/month?year={{ year }}" class=year style="text-decoration: none">
               <p>
                   <span class="featured-post-title">{{ year }}</span>
               </p>
            </a>
        </div>
    {% endfor %}

{% endblock %}

