<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
     <!-- Подключаем style.css -->
    <link rel="stylesheet"   type="text/css" href="{% static "style.css" %}" />
    <!-- Подключаем Bootstrap CSS через CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>

	<div class="container-fluid">
		<div class="row">

			<nav role="navigation" class="navbar navbar-inverse">
				<div class="container">

					<div class="navbar-header header">

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12" style="text-align: center">
                                    <h1><a href="#" style="text-decoration: none">Курсовая работа</a></h1>
                                </div>
                            </div>
                        </div>


				</div>
			</nav>

		</div>
	</div>

    <div class="wrapper">
    <div class="container">


                <div class="col-sm-6">
                    <div class="row">
                        <p style="font-size: 30px">Вход</p>
                              {% csrf_token %}
    <form method="post"  enctype="multipart/form-data" action="/main/year/">
        {% csrf_token %}
        <p >
            <label for="login">Логин: </label>
            <input id="login" type="text"  name="login" required>
        </p>
        <p>
            <label for="password">Пароль: </label>
            <input id="password" type="text"  name="password" required>
        </p>
        <p>
            <label for="button">Войти: </label>
            <input id="button" type="submit">
        </p>
        <p style="color: crimson">
            {{ exists }}
        </p>
    </form>

                    </div>
                </div>
                <div class="col-sm-6">
                        <p style="font-size: 30px">Регистрация</p>
                        <form method="post"  enctype="multipart/form-data" action="/main/year/">
        {% csrf_token %}
        <p >
            <label for="login_reg">Придумайте Логин: </label>
            <input id="login_reg" type="text"  name="login_reg" required>
        </p>
        <p>
            <label for="password_reg">Придумайте Пароль: </label>
            <input id="password_reg" type="text"  name="password_reg" required>
        </p><p>
            <label for="name">Ваше имя: </label>
            <input id="name" type="text"  name="name" required>
        </p>
        <p>
            <label for="button">Зарегестрироваться: </label>
            <input id="button" type="submit">
        </p>
    </form>
                    </div>
                </div>

            </div>
    </div>
    </div>

    <footer>
        <div class="container">
            <p class="text-center">
                <a href="">help</a>
            </p>
        </div>
    </footer>
    <!-- Подключаем jQuery и Bootstrap JS через CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>